<table class="table table-hover">
  <thead>
  <tr>
    <th class="col-md-1">#</th>
    <th class="col-md-9">
      <div class="row">
        <div class="col-md-2">Bet Name</div>
        <div class="col-md-2">Bet Type</div>
        <div class="col-md-2">Current Coef</div>
        <div class="col-md-2">Fair Win Prob</div>
        <div class="col-md-2">Fair Win Coef</div>
        <div class="col-md-2">Kelly Bet Size</div>
      </div>
    </th>
    <th class="col-md-2">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bet of bettingList; index as i" [ngClass]="{'bet-disabled': bet.disabled, 'bet-win': bet.resolved}">
    <th class="col-md-1" scope="row">{{i + 1}}</th>
    <td class="col-md-9">
      <div class="row">
        <div class="col-md-2">
          {{bet.betName}}
        </div>
        <div class="col-md-2">
          {{bet.betType}}
        </div>
        <div class="col-md-2">
          {{bet.currentCoef}}
        </div>
        <div class="col-md-2">
          {{bet.fairWinProb}}
        </div>
        <div class="col-md-2">
          {{bet.fairCoef}}
        </div>
        <div class="col-md-2">
          {{bet.kellyBetSize}}
        </div>
      </div>
    </td>
    <td class="col-md-3">
      <div class="row">
        <div class="col action-button-1">
          <div class="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="winCheckbox" [checked]="bet.resolved" [disabled]="bet.resolved || bet.disabled" (click)="resolve(bet)">
              <label class="form-check-label" for="winCheckbox">
                Win
              </label>
            </div>
          </div>
          <div class="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="loseCheckbox" [checked]="bet.disabled" [disabled]="bet.resolved || bet.disabled" (click)="disabled(bet)">
              <label class="form-check-label" for="loseCheckbox">
                Lose
              </label>
            </div>
          </div>
        </div>
        <div class="col action-button-2">
          <button style="width: 70px" class="btn btn-info"  [disabled]="bet.resolved || bet.disabled" (click)="edit(bet)">Edit</button>
          <button style="width: 70px" class="btn btn-danger" [disabled]="bet.resolved || bet.disabled" (click)="delete(bet)">Delete</button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
